
/*
 * CSS file that contains all commonalities for all themes.
 *
 * Injected into the primary theme by replacing `DYNAMICALLY_REPLACED` with content from this file.
 */

/*
 * Icofont parts
 */
:host .ainiro-icofont,
:host [class^="ainiro-icofont-"],
:host [class*=" ainiro-icofont-"],
:host .ainiro-icofont::before,
:host [class^="ainiro-icofont-"]::before,
:host [class*=" ainiro-icofont-"]::before,
:host .ainiro-icofont::after,
:host [class^="ainiro-icofont-"]::after,
:host [class*=" ainiro-icofont-"]::after {
  font-family: 'AiniroIcoFont' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ainiro-icofont-arrow-left:before {
  content: "\ea5c"
}

.ainiro-icofont-arrow-right:before {
  content: "\ea5d"
}

.ainiro-icofont-email:before {
  content: "\ef12"
}

.ainiro-icofont-chat:before {
  content: "\eed5"
}

.ainiro-icofont-web:before {
  content: "\f028"
}

.ainiro-icofont-star:before {
  content: "\f000"
}

.ainiro-icofont-close:before {
  content: "\eee4"
}

.ainiro-icofont-search-1:before {
  content: "\ed11"
}

.ainiro-icofont-location-arrow:before {
  content: "\ef78"
}

.ainiro-icofont-microphone:before {
  content: "\ea47"
}

.ainiro-icofont-check:before {
  content: "\eed8"
}

.ainiro-icofont-maximize:before {
  content: "\ef8c"
}

.ainiro-icofont-duotone.ainiro-icofont-contract-alt:before {
  content: "\13af9"
}

.ainiro-icofont-duotone.ainiro-icofont-contract-alt:after {
  content: "\13af8"
}

.ainiro-icofont-duotone.ainiro-icofont-expand-full:before {
  content: "\13b15"
}

.ainiro-icofont-duotone.ainiro-icofont-expand-full:after {
  content: "\13b14"
}

.ainiro-icofont-duotone.ainiro-icofont-purge:before {
  content: "\13b95"
}

.ainiro-icofont-duotone.ainiro-icofont-purge:after {
  content: "\13b94"
}

.ainiro-icofont-duotone.ainiro-icofont-list:before
{
  content: "\13b53"
}

.ainiro-icofont-duotone.ainiro-icofont-list:after
{
  content: "\13b50"
}

.ainiro-icofont-copy:before {
  content: "\edea"
}

.ainiro-icofont-upload:before {
  content: "\f01d"
}

[class*=" ainiro-icofont-"].ainiro-icofont-duotone,
[class^=ainiro-icofont-].ainiro-icofont-duotone {
  position: relative
}

[class*=" ainiro-icofont-"].ainiro-icofont-duotone:before,
[class^=ainiro-icofont-].ainiro-icofont-duotone:before {
  position: absolute;
  left: 0;
  top: 0
}

[class*=" ainiro-icofont-"].ainiro-icofont-duotone:after,
[class^=ainiro-icofont-].ainiro-icofont-duotone:after {
  opacity: .4
}

/*
 * Making sure Markdown transformed to HTML displays well.
 */

.ainiro {
  color: var(--ainiro-color);
}

.ainiro_machine a {
  color: var(--ainiro-link);
}

.ainiro_machine img {
  max-width: 100%;
  display: block;
  max-height: 70vh;
  margin-left: auto;
  margin-right: auto;
}

@keyframes ainiro_fade_function_into_view {
  0% {
    opacity: 0;
    margin-left: -100px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

.ainiro_machine>p>span.ainiro_function_succeeded,
.ainiro_machine>p>span.ainiro_function_failed {
  display: block;
  margin-top: 1rem;
  border-radius: .5rem;
  font-size: .9rem;
}
.ainiro_machine>p>span.ainiro_function_animate {
  animation-name: ainiro_fade_function_into_view;
  animation-duration: .4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.ainiro_machine>p>span.ainiro_function_succeeded>i.ainiro-icofont,
.ainiro_machine>p>span.ainiro_function_failed>i.ainiro-icofont,
.ainiro_machine>p>span.ainiro_function_waiting>i.ainiro-icofont {
  margin-right: .5rem;
  font-style: normal;
  border-radius: .25rem;
  padding: .125rem;
}
@keyframes ainiro_function_waiting {
  0% {
    opacity: .2;
  }
  100% {
    opacity: 1;
  }
}
.ainiro_machine>p>span.ainiro_function_waiting {
  color:#909090;
  opacity: .2;
  animation-name: ainiro_function_waiting;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.ainiro_machine>p>span.ainiro_function_succeeded>i.ainiro-icofont {
  background-color: rgba(0,255,0,.5);
}
.ainiro_machine>p>span.ainiro_function_failed>i.ainiro-icofont {
  background-color: rgba(255,0,0,.5);
}

/*
 * Chatbot button animations.
 */
@keyframes ainiro_blink_after {
  0% {
    color: rgba(254, 233, 0, 0);
  }
  84% {
    color: rgba(254, 233, 0, 0);
  }
  92% {
    color:var(--ainiro-color);
  }
  100% {
    color: rgba(254, 233, 0, 0);
  }
}
@keyframes ainiro_blink {
  0% {
    color:var(--ainiro-color);
  }
  50% {
    color: rgba(254, 233, 0, 1);
  }
  100% {
    color:var(--ainiro-color);
  }
}
button.ainiro.ainiro_blink {
  animation: ainiro_blink linear 1s infinite;
}
button.ainiro.ainiro_blink::after {
  position: absolute;
  top: 5px;
  right: 8px;
  font-family: AiniroIcoFont !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  content: "\eed5";
  animation: ainiro_blink_after linear 5s infinite;
}

/*!
  Theme: Default
  Description: Original highlight.js style modified for AINIRO AI chatbots
  Author: (c) Ivan Sagalaev <maniac@softwaremaniacs.org>
  Maintainer: @highlightjs/core-team
  Website: https://highlightjs.org/
  License: see project LICENSE
  Touched: 2021
*/
.ainiro_machine pre.hljs {
  padding: 2rem;
  position: relative;
  border-radius: 5px;
  border: solid 1px rgba(0,0,0,.5);
}
.ainiro_machine pre.hljs button.copy_code_button {
  position: absolute;
  bottom: 8px;
  right: 8px;
  color:rgb(0,0,0);
  opacity: .5 !important;
  transition: opacity .1s ease-in-out !important;
}
.ainiro_machine pre.hljs button.copy_code_button:hover,
.ainiro_machine pre.hljs button.copy_code_button:active,
.ainiro_machine pre.hljs button.copy_code_button:focus {
  opacity: 1 !important;
  transition: opacity .1s ease-in-out !important;
}
.ainiro_machine pre.hljs button.copy_code_button i {
  font-style: normal;
}
.ainiro_machine pre.hljs code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

.ainiro_machine code.hljs {
  padding: 3px 5px
}

.ainiro_machine .hljs {
  background: #f3f3f3;
  color: #444
}

.ainiro_machine .hljs-comment {
  color: #697070
}

.ainiro_machine .hljs-punctuation,
.ainiro_machine .hljs-tag {
  color: #444a
}

.ainiro_machine .hljs-tag .hljs-attr,
.ainiro_machine .hljs-tag .hljs-name {
  color: #444
}

.ainiro_machine .hljs-attribute,
.ainiro_machine .hljs-doctag,
.ainiro_machine .hljs-keyword,
.ainiro_machine .hljs-meta .hljs-keyword,
.ainiro_machine .hljs-name,
.ainiro_machine .hljs-selector-tag {
  font-weight: 700
}

.ainiro_machine .hljs-deletion,
.ainiro_machine .hljs-number,
.ainiro_machine .hljs-quote,
.ainiro_machine .hljs-selector-class,
.ainiro_machine .hljs-selector-id,
.ainiro_machine .hljs-string,
.ainiro_machine .hljs-template-tag,
.ainiro_machine .hljs-type {
  color: #800
}

.ainiro_machine .hljs-section,
.ainiro_machine .hljs-title {
  color: #800;
  font-weight: 700
}

.ainiro_machine .hljs-link,
.ainiro_machine .hljs-operator,
.ainiro_machine .hljs-regexp,
.ainiro_machine .hljs-selector-attr,
.ainiro_machine .hljs-selector-pseudo,
.ainiro_machine .hljs-symbol,
.ainiro_machine .hljs-template-variable,
.ainiro_machine .hljs-variable {
  color: #ab5656
}

.ainiro_machine .hljs-literal {
  color: #695
}

.ainiro_machine .hljs-addition,
.ainiro_machine .hljs-built_in,
.ainiro_machine .hljs-bullet,
.ainiro_machine .hljs-code {
  color: #397300
}

.ainiro_machine .hljs-meta {
  color: #1f7199
}

.ainiro_machine .hljs-meta .hljs-string {
  color: #38a
}

.ainiro_machine .hljs-emphasis {
  font-style: italic
}

.ainiro_machine .hljs-strong {
  font-weight: 700
}

/*
 * Popup styles.
 */
@media (min-width: 1024px) {
  button.ainiro_popup:not(.ainiro_hide):not(.ainiro_shown)::before {
    position: fixed;
    bottom: 80px;
    right: 10px;
    content: var(--ainiro-dynamic-content);
    color: #404040;
    background: #fefefe;
    padding:15px;
    border: solid 1px #a0a0a0;
    border-radius: 12px;
    font-size: 14px;
    font-weight: normal;
    box-shadow: 3px 3px 5px rgba(0,0,0,.2);
    opacity: 0;
    animation-name: ainiro_fade_function_into_view;
    animation-duration: .4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 3s;
  }
}

/*
 * Sessions, or historical chatbot sessions
 */
div.ainiro_sessions_list {
  background: linear-gradient(var(--ainiro-bg-start), var(--ainiro-bg-end));
  color:var(--ainiro-color);
  min-height: 150px;
  position: absolute;
  z-index: 1000001;
  right: 5px;
  border-radius: 5px;
  border: solid 1px black;
}
div.ainiro_sessions_list ul {
  display: block;
  margin: 15px;
  padding-left: 0;
}
div.ainiro_sessions_list ul li {
  display: list-item;
  list-style-type: none;
  font-size: smaller;
}
div.ainiro_sessions_list ul li a {
  padding: 5px;
  color:var(--ainiro-link);
  font-size: small;
  text-decoration: none;
}

/*
 * Upload file label
 */
div.ainiro_filename {
  text-align: right;
  margin-top: -25px;
  margin-right: 35px;
  color: var(--ainiro-color);
}

/*
 * HTML widgets
 */
.ainiro div.hljs_ignore {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.hljs_ignore * {
  box-sizing: border-box;
}

/*
 * Action buttons in toolbar.
 */
.ainiro_action {
  padding: 5px;
  margin-left: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.ainiro_action i {
  color:var(--ainiro-color);
  transition: color .1s ease-in-out;
}
.ainiro_action:hover i,
.ainiro_action:active i,
.ainiro_action:focus i {
  transition: color .1s ease-in-out;
  color: var(--ainiro-link);
}
.ainiro_action.ainiro_new_chat i {
  font-size:26px;
}
.ainiro_action.ainiro_maximize i {
  font-size:18px;
}
.ainiro_action.ainiro_close i {
  font-size:26px;
}
.show_ainiro_chatbot:not(.ainiro_maximized)>.ainiro_toolbar>.ainiro_maximize>i.ainiro-icofont-contract-alt {
  display: none;
}
.ainiro.show_ainiro_chatbot.ainiro_maximized>.ainiro_toolbar>.ainiro_maximize>i.ainiro-icofont-expand-full {
  display: none;
}
